 <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic typography">About us</div>
         <p class="typography">Echryy is a market with a Supermarket power,we simply provide you with everything
           so you dont have to go from place to place searching for stuff.
         </p>
       </div>
       <div class="lower">
         <div class="topic typography">Contact us</div>
         <div class="phone">
           <a href="#"><i class="fas fa-phone-volume"></i>+216 77 777 777</a>
         </div>
         <div class="email">
           <a href="#"><i class="fas fa-envelope"></i>4twin4@esprit.tn</a>
         </div>
       </div>
     </div>
     <div class="middle box">
       <div class="topic typography">Our Services</div>
       <div class="typography"><a href="#">Many categories to browse</a></div>
       <div class="typography"><a href="#">Products of all types and shapes</a></div>
       <div class="typography"><a href="#">Shopping online is available</a></div>
       <div class="typography"><a href="#">Security of you private information</a></div>
       <div class="typography"><a href="#">Promotion every now and then</a></div>
     </div>
     <div class="right box">
       <div class="topic typography">Subscribe us</div>
       <form action="#">
         <input type="text" placeholder="Enter email address">
         <input type="submit" name="" value="Send">
         <div class="media-icons">
           <a href="#"><i class="fas fa-shopping-cart"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </form>
     </div>
   </div>
   <div class="bottom typography">
     <p>Copyright © 2021 <a href="#">4TWIN4</a> All rights reserved</p>
   </div>
 </footer>

