
<nav (scroll)="onscroll()" [ngClass]="dzovi ? 'fixed' : 'notfixed' ">
    <h1><i class="fas fa-shopping-cart"></i>Echryy</h1>
    <ul [ngClass]="list ? 'hey' : 'not' ">
      <li (click)="onclicky()"><a href="#products">Products</a></li>
      <li><a href="#accordionExample">Faq's</a></li>
      <li><a *ngIf="navitem" routerLink="/login">Login</a></li>
      <li><a *ngIf="navitem" routerLink="/signup">Sign Up</a></li>
      <li><a *ngIf="adminNotif" routerLink="/dashboard">Dashboard</a></li>
      <li><a *ngIf="!navitem" routerLink="/myprofil">My profile </a></li>
      <li><a *ngIf="!navitem" (click)="logout()" >Logout </a></li>
    </ul>
    <button (click)="onclicky()">click</button>
  </nav>
 