.title {
    margin: 15px;
    font-size: 20px;
    color: #3d405c;
  }
  hr {
    width: 50%;
    margin-bottom: 30px;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
  }
  .table_wrapper {
    flex: 0 0 50%;
  }
  table {
    background-color: #fff;
    border-radius: 8px;
  }
  .icon {
    text-align: center;
  }
  .edit {
    color: #007bff;
    cursor: pointer;
  }
  .delete {
    color: #dc3545;
    cursor: pointer;
  }
  .form_wrapper {
    flex: 0 0 40%;
    background-color: #fff;
    padding: 15px;
    height: min-content;
  }
  .modal_succes {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  @media screen and (max-width: 675px) {
    .form_wrapper {
      flex-basis: 85%;
    }
    .table_wrapper {
      flex-basis: 85%;
    }
    .modal_succes {
      width: 80%;
    }
  }
  