&nbsp;&nbsp;
<button class="btn btn-primary margin" (click)="changePage()" [routerLink]="['/dashboard/product']">
  {{ buttonString }}
</button > 
<div *ngIf="!this.isForm" class="input-group margin">
  <div class="form-outline">
    <input
    type="search"
    class="form-control fa"
    placeholder="search by title or id"
    [(ngModel)]="searchText"
    autocomplete="off"
    />
  </div>
</div>
<div class="margin row" id="ProductList" *ngIf="!this.isForm">
  <app-product
    class="col-md-3"
    *ngFor="let object of listProduct | filter:searchText"
    [product]="object"
    (deleteEvent)="deleteProduct($event)"
    (updateEvent)="updateProduct($event)"
  ></app-product>
</div>
<div id="ProductForm" class="margin" *ngIf="this.isForm">
  <app-form-product
    (addEvent)="saveProduct($event)"
    (changeEvent)="resaveProduct($event)"
    [updateProduct]="inputProduct"
    [list]="listProduct"
  ></app-form-product>
</div>
