.wrapper {
  /* padding: 50px; */
  display: grid;
  width: 90%;
  margin: 50px auto;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  row-gap: 20px;
  justify-items: center;
  /* box-shadow: 1px 5px 25px 10px rgba(35, 35, 56, 0.46); */
}
